html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  } 

html{
    font-family: 'Roboto', sans-serif;
    color: #222;
    height: 1.4;
    font-size: 110%;
    background-color: white;
}

body{
    margin: none;
}
img { 
    width: 100%;
}
